body {
  width: 403px;
  height: 3448px;
  background: var(--prusian-blue-Darker, #000816);
}

.top-bar {
  display: flex;
  align-items: flex-start;
  gap: 84px;
}

.top-nav-user-button {
  border-radius: 8px;
  border: 1px solid #ffdc5f;
  background: #cbd0d8;
}

.user-info {
  display: flex;

  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.user-img {
  width: 90px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.top-nav-user-button {
  background-color: purple;
  color: white;
  border: none;
  height: 20px;
  cursor: pointer;
}
.flex-row {
  display: flex;
}

.notifications {
  display: flex;
  align-items: center;
  margin-bottom: auto;
}

.notif-1 img {
  display: flex;
  left: -90px;
}
.notif-2 img {
  margin-left: 90px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: grey;
}
.paddingtop1rem {
  padding-top: 1rem;
}
.nav-bar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
}

.button-style {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
  align-content: center;
  margin: auto;
}

.breadcrumb {
  font-style: italic;
  color: #aaa;
}
