body {
    max-width: 100vw;
    height: 100vh;
    width: 100vw;
}
.page-content-container {
    background-color: var(--background-color);
    flex: 1;
    
}
.content-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--content-grey);
    width: 50%;
    margin-inline: auto;
    border-radius: 10px;
}
.master-container {
    display: flex;
    height: 100%;
}

.alert {
    color: var(--alert-color);
}