---
// import SideNav from '../components/sideNav.astro';
import TopNav from '../components/topNavNew.astro'
---
<!-- This is the latest version and includes the new top nav design. Need to finish adding functionality to top nav & redo side nav -->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/acLogo.svg" />
		<link rel="stylesheet" type="text/css" href="/css/global.css" />
		<link rel="stylesheet" type="text/css" href="/css/utility.css" />
		<link rel="stylesheet" type="text/css" href="/css/template.css" />
		<meta name="viewport" content="width=device-width" />
		<title>AC Home</title>
	</head>
	<body>
		<div class="master-container">
			<div class="page-content-container">
				<div class="nav-welcome-container">
					<!-- <SideNav/> -->
					<TopNav />
					<!-- Title and big pic -->
					<div class="content-container page-header">
						<h2 class="welcome-heading">
							Welcome to<br>Ancient Civilizations
						</h2>
						<img class="big-pic" src="images/Home_Page/4col-civ.png">
					</div>
				</div>
				<!-- First paragraph -->
				<div class="content-container mt-xlarge paragraph-pic-right">
					<img class="paragraph-pic pic-right" src="images/Home_Page/waterfall-civ.png">
					<h2 class="major-heading paragraph-heading grid-left">
						What We Are
					</h2>
					<p class="paragraph-body grid-left">
						Lovers of ancient history have found a home at Ancient Civilizations. This site was created with you in mind. Here you will find like-minded people discussing prehistoric societies, ancient cultures and medieval history. AC is about the history of the world, its cultures, and its civilizations.
					</p>
				</div>
				<!-- Second paragraph -->
				<div class="content-container mt-xlarge paragraph-pic-left">
					<img class="paragraph-pic pic-left" src="images/Home_Page/creek-civ.png">
					<h2 class="major-heading paragraph-heading grid-right">
						A Brief Look At <br class="header-break">Ancient Civilizations
					</h2>
					<p class="paragraph-body grid-right">
						Our prehistoric ancestors left us tantalizing clues to their societies with megalithic structures such as Stone Henge in modern-day England, Göbekli Tepe in modern-day Turkey, and Tumshukayko in modern-day Peru. The first civilizations were in Mesopotamia, Egypt, and China. As human populations rose and hunters and gatherers settled, other civilizations sprang up around the world.
					</p>
				</div>
				<!-- Third paragraph -->
				<div class="content-container mt-xlarge paragraph-pic-right">
					<img class="paragraph-pic pic-right" src="images/Home_Page/palace.png">
					<h2 class="major-heading paragraph-heading grid-left">
						Our Goal
					</h2>
					<p class="paragraph-body grid-left">
						Our goal at Ancient Civilizations is to provide a platform for our members to share their knowledge of the civilizations most important to them. We hope that by doing so, they will provide information on global civilizations, their history and their culture.<br><br>As such, the site will include both general and specific details about the lives and places that made our ancient ancestors unique.
					</p>
				</div>
				<!-- Cards Section -->
				<div class="card-grid">
					<!-- To Do cards -->
					<div class="content-container card-container cards-left">
						<h2 class="card-container-title">
							Things To Do
						</h2>
						
						<div class="card-outside">
							<div class="card-inside">
								<p class="card-title">
									Discussions
								</p>
								<p class="card-paragraph">
									Join our discussion boards to connect with a vibrant community eager to share insights, experiences, and support. Don't miss out on the opportunity to expand your knowledge and engage in meaningful conversations – be part of the discussion today!
								</p>
								<div class="more-button-container">
									<a class="more-button" href="#">
										<img class="more-button-pic" src="images/Home_Page/Component 7.svg">
										<!-- <p class="more-button-inside">
											More &rarr;
										</p> -->
									</a>
								</div>
							</div>
						</div>
						<div class="card-outside">
							<div class="card-inside">
								<p class="card-title">
									Bulletins
								</p>
								<p class="card-paragraph">
									Stay ahead of the curve by subscribing to our bulletins, your essential source for all the latest updates and exciting developments from our site. Sign up now and never miss out on what's new and noteworthy!
								</p>
								<div class="more-button-container">
									<a class="more-button" href="#">
										<img class="more-button-pic" src="images/Home_Page/Component 7.svg">
										<!-- <p class="more-button-inside">
											More &rarr;
										</p> -->
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Who We Are cards -->
					<div class="content-container card-container cards-right">
						<h2 class="card-container-title">
							Who We Are
						</h2>
						
						<div class="card-outside">
							<div class="card-inside">
								<p class="card-title">
									About
								</p>
								<p class="card-paragraph">
									Explore the rich tapestry of Ancient Civilizations and embark on a fascinating journey through history. Discover the secrets, innovations, and enduring legacies of the world's earliest societies on our About Page – start your exploration today!
								</p>
								<div class="more-button-container">
									<a class="more-button" href="#">
										<img class="more-button-pic" src="images/Home_Page/Component 7.svg">
										<!-- <p class="more-button-inside">
											More &rarr;
										</p> -->
									</a>
								</div>
							</div>
						</div>
						<div class="card-outside">
							<div class="card-inside">
								<p class="card-title">
									Admin
								</p>
								<p class="card-paragraph">
									Explore the rich tapestry of Ancient Civilizations and embark on a fascinating journey through history. Discover the secrets, innovations, and enduring legacies of the world's earliest societies on our About Page – start your exploration today!
								</p>
								<div class="more-button-container">
									<a class="more-button" href="#">
										<img class="more-button-pic" src="images/Home_Page/Component 7.svg">
										<!-- <p class="more-button-inside">
											More &rarr;
										</p> -->
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Footer -->
				<div class="content-container mt-xlarge footer">
					<div class="soc-media-left">
						<a href="#"><img class="footer-links" src="/src/components/footer/email.svg"></a>
						<a href="#"><img class="footer-links" src="/src/components/footer/facebook.svg"></a>
					</div>

					<div class="soc-media-right">
						<a href="#"><img class="footer-links" src="/src/components/footer/instagram.svg"></a>
						<a href="#"><img class="footer-links" src="/src/components/footer/linkedin.svg"></a>
					</div>

					<p class="copyright">
						© 2023<br>Ancient Civilizations<br><br>Version 1
					</p>
				</div>
					
			</div>
			
		</div>
	
	</body>


	<!-- This is the CSS style block for the index page. -->
	<!-- It defines the styles for the body, page content container, content container, and master container. -->

	<style>
		body {
			max-width: 100vw;
			height: auto;
			width: 100vw;
		}
		.page-content-container {
			/* background-color: var(--background-color); */
			background-color: hsla(218, 100%, 4%, 1);
			/* flex: 1; */
			display: grid;
		}
		.nav-welcome-container {
			display: grid;
			grid-template-columns: 220px 1fr;
			grid-template-rows: repeat(2, 325px);
		}
		.top-nav {
			width: 100vw;
		}
		.side-nav {
			display: none;
		}
		.page-header {
			display: grid;
			grid-column: 1 / span 2;
			width: calc(100% - 200px);
			grid-row: 2;
			align-items: center;
			justify-items: center;
		}
		.content-container {
			display: grid;
			/* background-color: var(--content-grey); */
			background-color: transparent;
			width: 95%;
			margin-inline: auto;
			border-radius: 10px;
		}
		.master-container {
			display: flex;
			height: 100%;
		}
		.welcome-heading {
			font-size: 32px; 
			color: hsla(182, 70%, 75%, 1);
			font-family: 'Playfair Display SC', 'serif';
			font-weight: 700;
			font-variant: small-caps;
		}
		.major-heading {
			font-family: 'Playfair Display SC', 'serif';
			font-weight: 700;
			font-size: 30px;
			color: hsla(46, 66%, 50%, 1);
			font-variant: small-caps;
			padding-top: 2%;
		}
		.page-header {
			justify-items: center;
		}
		.big-pic {
			width: 300px;
			height: 165.09px;
			padding: 23px;
		}
		.paragraph-pic {
			width: 200px;
			height: 95.24px;
			justify-self: center;
		}
		.paragraph-body {
			font-size: 20px;
			text-align: start;
			padding: 2%;
		}
		.card-grid {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
			width: auto;
			height: auto;
		}
		.footer{
			border-block: 0.5vh;
			/* border-bottom: 1px; */
			border-style: solid;
			border-color: hsla(46, 66%, 50%, 0.76);
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
			align-items: center;
			margin-block: 1rem;
			border-radius: 0;
			/* grid-row: 1; */

		}
		.footer-links {
			height: 60%;
			width: 60%;
		}
		.copyright {
			grid-column: 2;
			grid-row: 1;
			font-weight: 600;
			line-height: 32.74px;
			font-size: 24px;
			text-align: center;
			font-family: 'Nunito Sans', sans-serif;
		}
		.soc-media-left {
			display: grid;
			/* justify-items: start; */
			align-items: center;
			grid-row: 1;
			grid-column: 1;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 1fr;
			height: 100%;
			padding-left: 10%;
		}
		.soc-media-right {
			display: grid;
			/* justify-items: end; */
			align-items: center;
			grid-column: 3;
			grid-row: 1;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 1fr;
			height: 100%;
			padding-right: 10%;
		}
		.card-outside {
			background: linear-gradient(to bottom, hsla(220, 23%, 26%, 0.26), hsla(220, 8%, 77%, 0.05));
			width: 322px;
			height: 310px;
			padding: 1%;
			border-radius: 20px;
		}
		.card-inside {
			align-items: center;
			background: linear-gradient(to bottom right, hsla(220, 23%, 26%, 0.26), hsla(220, 8%, 77%, 0.05)), linear-gradient(to bottom right, hsla(220, 23%, 26%, 0.4), hsla(220, 23%, 26%, 0.1));
			width: 100%;
			height: 100%;
			gap: 8px;
			padding: 12px;
			border-radius: 20px;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr, 3fr, 1fr;
			}
		.card-container {
			display: grid;
			gap: 1%;
			width: 100%;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 6fr 6fr;
			align-items: center;
			justify-items: center;
		}
		.card-container-title {
			font-family: 'Playfair Display SC', serif;
			color: hsla(182, 70%, 75%, 1);
			font-weight: 700;
			font-size: 36px;
			font-variant: small-caps;
		}
		.card-title {
			font-weight: 600;
			text-decoration: underline;
			font-size: 24px;
			display: grid;
			align-content: center;
		}
		.card-paragraph {
			font-weight: 700;
			font-size: 16px;
			width: 296px;
			padding-inline: 12px;
			height: 181px;
			line-height: 21.82px;
			text-align: start;
		}
		.more-button-container {
			padding-bottom: 12px;
			padding-right: 12px;
			display: grid;
			justify-items: end;
		}
		.more-button {
			display: grid;
			justify-items: end;
			width: 136px;
			height: 28px;
			padding-top: 2%;
			align-items: center;
		}
		.more-button-pic {
			width: 136px;
			height: 28px;
			justify-self: end;
		}
		/* Scale up styling for tablet or larger */
		@media (min-width: 600px) {
			.mt-xlarge {
				margin-top: 5%;
			}
			.major-heading {
				padding-top: 0%;
			}
			.paragraph-pic-right {
				display: grid;
				grid-template-columns: minmax(500px, 2fr) minmax(200px, 1.5fr);
				grid-template-rows: 1fr;
				align-items: center;
			}
			.paragraph-pic-left {
				display: grid;
				grid-template-columns: minmax(200px, 1.5fr) minmax(500px, 2fr);
				grid-template-rows: 1fr;
				align-items: center;
			}
			.paragraph-pic {
				display: grid;
				width: 100%;
				height: auto;
				grid-row: span 2;
				/* align-content: center; */
			}
			.pic-left {
				/* width: 200px; */
			}
			.paragraph-heading {
				grid-row: 1;
				grid-column: 1 / span 2;
				font-size: 225%;
			}
			.header-break {
				display: none;
			}
			.grid-left {
				grid-column: 1;
				justify-self: start;
			}
			.grid-right {
				grid-column: 2;
				justify-self: end;
			}
			.paragraph-text-left {
				grid-row: 2;
				grid-column: 1;
			}
			.paragraph-text-right {
				grid-row: 2;
				grid-column: 2;
			}
			.paragraph-body {
				/* padding-inline: 10%; */
				font-size: 125%;
			}
			.card-container {
				gap: 10px;
				width: 456px;
				height: 475px;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: 1fr 6fr;
				align-items: center;
				justify-items: center;
			}
			.card-outside {
				width: 200px;
				height: 400px;
				grid-row: 2;
				padding: 1px;
			}
			.card-inside {
				padding-inline: 1px;
				gap: 2px;
				grid-template-rows: 1fr, 5fr, 1fr;
				justify-items: center;
			}
			.card-container-title {
				grid-column: 1 / span 2;
				font-size: 250%;
			}
			.card-paragraph {
				width: 180px;
				height: 264px;
				padding-inline: 4px;
				text-align: start;
			}
			.more-button-container {
				padding-top: 12px;
				padding-bottom: 0px;
				padding-right: 6px;
				justify-self: end;
			}
			.more-button {
				width: 87px;
			}
			.more-button-pic {
				width: 87px;
			}
			.paragraph-heading {
				white-space: nowrap;
			}
			.footer {
				border-block: 0.25vh;
				border-style: solid;
				border-color: hsla(46, 66%, 50%, 0.76);
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: 1fr;
				align-items: center;
				margin-block: 1rem;
				border-radius: 0;
			}
		}
		/* Scale up styling for laptop/desktop view */
		@media (min-width: 1024px) {
			.nav-welcome-container {
				display: grid;
				grid-template-columns: 220px 1fr;
				grid-template-rows: repeat(2, 325px);
			}
			.top-nav {
				width: 100%;
			}
			.major-heading {
				font-size: 40px;
			}
			.paragraph-pic {
				width: 357px;
				height: 170px;
			}
			.card-grid {
				display: grid;
				grid-template-columns: 1fr 1fr .1fr 1fr 1fr;
				justify-content: center;
			}
			.cards-left {
				grid-column: 1 / span 2;
			}
			.cards-right {
				grid-column: 4 / span 2;
			}
			.footer-links {
				width: 20%;
				height: auto;
			}
			.side-nav-container {
			grid-row: 1 / span 2;
			grid-column: 1;
			width: ;
		}
		}
	</style>
</html>
